/*Window Background */
.root {
		-fx-background-color: #d3d3d3;
		-fx-padding: 15px;
}
/*Player Textfields */
.textfield{
		-fx-border-width: 0.75px;
	-fx-border-color: black;
	-fx-border-radius: 2px;
	-fx-background-radius: 2px;
	 -fx-text-fill: black;
	 -fx-background-color: #e5e5e5;
	 -fx-min-width: 80px;
	-fx-max-width: 150px;
}

.vBox {
	-fx-alignment: center;
}

/*Bottom are */
.regCenter {
		-fx-alignment: center;
		-fx-min-width: 60px;
}

.regHeigt {
    -fx-min-height: 20px;
}

.button {
		-fx-border-width: 0.75px;
	-fx-border-color: black;
	-fx-border-radius: 2px;
	-fx-background-radius: 2px;
	-fx-background-color: #e5e5e5;
	-fx-text-fill: black;
	-fx-min-width: 75px	
}