/* This is the Dark Color Styling Class of the Poker Mainview-------------------- */
/* Basicstyling is made in the MainStylesheets */
/*Basics ------------------------------------------------------------------ */
.label {
  	-fx-text-fill: 	#FFFF00;
}
.root{
	-fx-background-color: #008000 ;
}
/*------------------------------------------------------------------------- */
/*Menu is a diferent style sheet */
/*Player panes with cards-------------------------------------------------- */
.player {
    -fx-background-color:#228B22;
}
/*--------------------------------------------------------------------------------------------- */
/*Field with Casino Label ----------------------------------------------------------------------*/
.casinoLabel {
  	-fx-text-fill: gold; 	
}
/*--------------------------------------------------------------------------------------------- */
/*Control Area with BUttons and Statistics, the Decklabel is a Card --------------------------- */
#controlArea {
    -fx-border-color: #008000;
    -fx-background-color: #228B22;
}
.button {
	-fx-border-color: 	#FFFF00;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: 	#FFFF00;
}
.button:hover {
	-fx-border-color: #FFFF00;
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #FFFF00;
}
.statistics{
     -fx-background-color: #228B22;
     -fx-text-fill: 	#FFFF00;
}
.statisticsCol{
     -fx-background-color: #228B22;
     -fx-text-fill: 	#FFFF00;
}
/*---------------------------------------------------------------------------------------------- */