/* This is the Dark Color Styling Class of the Poker Mainview-------------------- */
/* Basicstyling is made in the MainStylesheets */
/*Basics ------------------------------------------------------------------ */
.label {
  	-fx-text-fill: #96b946;
}
.root{
	-fx-background-color: darkred ;
}
/*------------------------------------------------------------------------- */
/*Menu is a diferent style sheet */
/*Player panes with cards-------------------------------------------------- */
.player {
    -fx-background-color:black;
}
/*--------------------------------------------------------------------------------------------- */
/*Field with Casino Label ----------------------------------------------------------------------*/
.casinoLabel {
  	-fx-text-fill: gold; 	
}
/*--------------------------------------------------------------------------------------------- */
/*Control Area with BUttons and Statistics, the Decklabel is a Card --------------------------- */
#controlArea {
    -fx-border-color: darkred;
    -fx-background-color: black;
}
.button {
	-fx-border-color: #96b946;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #96b946;
}
.button:hover {
	-fx-border-color: white;
    -fx-background-color: #4d4d4d;
    -fx-text-fill: white;
}
.statistics{
     -fx-background-color: black;
     -fx-text-fill: #96b946;
}
.statisticsCol{
     -fx-background-color: black;
     -fx-text-fill: #96b946;
}
/*---------------------------------------------------------------------------------------------- */